# Node modules
node_modules/

# Environment variable
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Sequelize migrations
sequelize-meta.json

# Build or cache folders
dist/
.cache/
